:host {
	display: flex;
	flex-direction: column;
	height: 100vh;
	//changes
	background-color: #FAFAFA !important;

	upscale-language-selector,
	upscale-header,
	upscale-experience-component-location {
		flex: none;
	}

	.router-outlet {
		flex: 1;
		overflow-y: auto;
	}
	upscale-formgroup-input-container.formgroup-input-container:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
		font-size: 0;
	}
	upscale-formgroup-input-container.formgroup-input-container:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1)::before {
		content: "Condições de Venda";
		font-size: 1.8rem;
	}
	
}
upscale-formgroup-input-container.formgroup-input-container:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    font-size: 0;
}
upscale-formgroup-input-container.formgroup-input-container:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1)::before {
    content: "Condições de Venda";
    font-size: 1.8rem;
}


